*{
	font-family: 'Muli', sans-serif;
	color: rgb(85,85,85);
}
/*BANNER PRINCIPAL*/
.pantalla-gris {
  background-color: rgba(40, 35, 35, 0.6);
  height: 400px;
}
.back-header{
  background-image: url(../img/shutter2.jpg);
  background-position: center;
  background-size: cover;
	background-attachment: fixed;
  background-repeat: no-repeat;
	width: 100%;
}
#logo-exp{
	width: 100px;
}
h1{
	font-size: 3em;
}
.btn-orange{
	color: white;
	font-size: 1.1em;
	background-color: #fa6510;
	border-radius: 20px;
}
.btn-orange{
	color: white;
	font-size: 1.1em;
	background-color: #fa6510;
	border-radius: 20px;
}
.btn-orange:hover{
	background-color: #f4a321;
	color: #fff;
}
/*NAV*/
.navbar, .navbar-inverse {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
.nav-br{
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2em;
  line-height: 20px;
  text-align: center;
}

#bullet{
	padding-right: 3%;
}
.p-list{
	padding: 15px 15px;
}
.btn-pink{
	background-color: #b52373;
	color: #fff;
  }
#exampleInputEmail1{
	width: 220px;
} 
	/*botones*/

/*EXPERIMENTA NUESTRAS SOLUCIONES PARA TI*/
.P-ENS{
	font-size: 1.2em;
}
/*NUESTROS CLIENTES*/
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
	/* los controles*/
	.carousel-control {
		left: -12px;
	    height: 40px;
		width: 40px;
	    background: none repeat scroll 0 0 #222222;
	    border: 4px solid #FFFFFF;
	    border-radius: 23px 23px 23px 23px;
	    margin-top: 90px;
	}
	.carousel-control.right {
		right: -12px;
	}
	/* indicadores */
	.carousel-indicators {
		right: 50%;
		top: auto;
		bottom: -10px;
		margin-right: -19px;
	}
	/* los colores de los indicadores */
	.carousel-indicators li {
		background: #cecece;
	}
	.carousel-indicators .active {
	background: orange;
	}
	.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
/*VIDEO*/
.back-video{
  background-image: url(../img/video1.jpg);
  background-position: center;
  background-size: cover;
	background-attachment: fixed;
  background-repeat: no-repeat;
	width: 100%;
}
.height300{
	background-color: rgba(40, 35, 35, 0.6);
	height: 300px;
}
#logo-Bln{
	width: 30%;
}
.p-video{
	font-size: 1.5em;
	color: #fff;
}
/*BENEFICIOS*/
.row-benef{
	padding-top: 5%;
}
/*¿TIENES DUDA?*/
.i{
	color: rgb(85,85,85);
}
.back-organge{
	background-color: rgb(255,101,0);
	/*padding-bottom: 5%;*/
	padding-top: 2%;
}
.back-organge2{
	background-color: rgb(255,101,0);
	height: 80px;
}
#contactanos{
	display: block;
}
/*MODAL 1*/
.modal.fade.fade1{
	background-image: url("../img/modal.jpg");
	background-size: cover;
	width: 100%;
}
.modal-content{
background: -moz-linear-gradient(top,  rgba(255,255,255,0.12) 0%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.12) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.12) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fffffff', endColorstr='#00ffffff',GradientType=0 );

}
h4{
	font-size: 2em;
	font-family:'Muli', sans-serif; 
	font-weight : 300;
}
.close{
	color: #fff;
	opacity: 1;
}
.modal-header {
	border: 0px;
}
.modal-content {
	border-radius: 5%;
}
label{
	font-weight: 300;
}
.modal-footer{
	border: none;
	text-align: center;
}
/*MODAL 2*/
.modal.fade2{
	background-image: url("../img/modal2.jpg");
	background-size: cover;
	width: 100%;
}
/*SHORTCUTS*/
.padre{
	padding: 5% 0%;
}
.hijo{
	padding: 10% 0%;
}
.inline-block{
	display: inline-block;
}
.text-white{
	color: #fff;
}
.txt-banner{
	padding-left: 100px;
	padding-top: 5%;
}
.pt-1{
	padding-top: 1%;
}
.pt-1{
	padding-bottom: 1%;
}
.pt-2{
	padding-top: 2%;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
.pb-8{
	padding-bottom: 8%;
}
.pt-12{
	padding-top: 12%;
}
.pt-9{
	padding-top: 9%;
}

.row-pad{
	padding-top: 5%;
	padding-bottom: 5%;
}

/*CAMBIOS EL DÍA 3 DE ABRIL 2017*/

.p-24{
	font-size: 1.7em;
	font-weight: 200;
	margin-right: 10%;
	margin-left: 10%; 
}

.p-org{
	color: #fa6510;
	font-size: 2em;
	font-weight: 200;
	margin-right: 15%;
	margin-left: 15%; 
	margin-top: 2%;
}
.p-italic{
	font-size: 1.7em;
	font-weight: 200;
	font-style: italic;
	margin-right: 15%;
	margin-left: 15%;
}
.bck-org-light{
	background-color: #f6e5d3;
}

/*Cambios del 17 de abril de 2017*/

.hr-org{
	border: solid 1px rgb(255,101,0);
	width: 100px;
}
.hr-org-title{
	background-color: rgb(255,101,0);
	width: 100px;
	height: 5px;
	border: none;
}
h3{
	color: rgb(85,85,85);
	font-weight: lighter;
}
.thumbnail{
	background-color: #ebebeb;
}

.zoomImg-tumb {
  position: relative;
  overflow: hidden;
}
.zoomImg-tumb img {
 
  -webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

.zoomImg-tumb:hover img {
  -webkit-transform:scale(1.1);
transform:scale(1.1);
}

/*CAMBIOS DEL 20 ABRIL 17
	MODAL VIDEO   */

#btn-video{
	color: #fff;
	font-size: 5em; 
}
#btn-video:hover{
	color: rgb(255,101,0);
}

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}
 
.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
 
.modal-body {
    padding: 0 25px 25px 25px;
}
 
.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}
 
.modal-header, .modal-footer {
    border: 0;
}
 
.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}
iframe{
	width: 1280px;
	height: 720px;
}

